<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="devy.temp.spring.sqlite.service.mapper.ExamMapper">

    <select id="selectExam" resultType="devy.temp.spring.sqlite.service.domain.Exam">
        select * from exam
        ;
    </select>

    <insert id="insertExam">
        insert into exam (
            exam_name
        ) values (
            'exam1'
        )
        ;
    </insert>

</mapper>